
*{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
 }
 body{
     width:100%;
     overflow-x:hidden;
 }
 #banner{
     font-size: 16px;
     text-align: center;
     background-color: #E6E6E6;
     padding: 20px 0px;
     font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
     font-style:normal;
     font-weight: 400;
     color: #222222;
     overflow: hidden;
 }
 #search>input{
     padding: 5px;
 }
 #navbar{
     margin-top: 20px;
     display: grid;
     grid-template-columns: 25% 25% 30%;
     column-gap: 15%;
 }
 
 #navbar>div:last-child div{
     width: 25px;
     height: 20px;
     padding: 0;
     margin: 8px;
     border: 0px;
     background-color: white;
     margin-right: 10px;
 }
 #navbar>div:last-child{
     display: flex;
     flex-direction: row;
 }

 #navbar img{
     width: 100%;
     height: 100%;
     padding: 0px;
     margin: 0;
 }
 #navbar>div:nth-child(2){
     margin-left: 50px;
 }
 
 #navbar>div:nth-child(2) img{
     width:60%;
     height: 27px;
 }
 #navbar>div:first-child{
     margin-left: 100px;
 }
 #search{
     display: flex;
     border: 1px solid rgb(128, 128, 128);
     justify-content: flex-start;
     width: 10%;
     padding-right: 50px;
     margin-left: 1170px;
     border-radius: 5px;
     margin-top: 20px;
 }
 #search input{
     padding: 8px;
     border: none;
     background-color: transparent;
     resize: none;
     outline: none;
     border: 0px solid red;
     width: 200px;
     font-size: 13px;
 }
 #navbar>div:first-child a{
     color: black;
     text-decoration: none;
     font-size: 17px;
     font-family: Arial, Helvetica, sans-serif;
 }
 #search img{
     position: absolute;
     width: 13px;
     height: 13px;
     margin-top: 10px;
     border: 0px solid black;
 }
 #container{
     width:90%;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     column-gap: 10px;
     row-gap: 80px;
     text-align: left;
     line-height: 5px;
     margin-top: 100px;
     border: 0px solid black;
 }
 #container>div{
     width:90%;
     border:0px solid red;
     height: fit-content;
     padding: 10px;
     cursor: default;
 }
 #container p, button{
     line-height: normal;
     transform: scaleY(0.9)
 }
 #buttons button{
     width: 100px;
     color: white;
     background-color: #222222;
     display: block;
     border-radius: 15px;
     margin: auto 10px;
     cursor: pointer;
 }
 #container>div img{
     height: 55%; 
 }
 #buttons{
     display: flex;
     justify-content: space-between;
 }
 #price_div{
     display: flex;
     justify-content: space-between;
 }
 #final{
     display: flex;
     width: 80%;
     justify-content: space-between;
     margin: auto;
 }
 #final>button{
     margin-right:250px;
     background-color: black;
     color: aliceblue;
     border-radius: 30px;
     cursor: pointer;
 }
 #bottom-banner{
     margin-top: 100px;
     padding: 20px 60px 60px 60px;
     width: 100%;
     background-color: black;
     color: white;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     column-gap: 80px;
 }
 #bottom-banner p{
     border: 0px solid white;
     font-size: 14px;
 }
 #small_icon img{
     display: inline;
     width: 6%;
     padding-right: 10px;
 }
 #small_icon{
     padding-bottom: 50px;
 }